<div class="container has-text-centered">
  <h1 class="title"><%= @team.name %></h1>
  <h4 class="subtitle">Please note that some people might not push all their work to Github, work in private repositories or on a feature branch.</h4>
</div>
<br>
<div class="columns is-multiline">
  <% @developers.each do |dev| %>
    <div class="column">
    <%= link_to [@team, dev] do %>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= dev.name %></p>
        </header>
        <div class="card-content">
          <%== dev.git_graph_html %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if @developers.count == 0 %>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card is-fullwidth">
      <div class="card-content has-text-centered">
        <h4 class="title">There is nothing here yet!</h4>
        <% if logged_in? %>
          <p>Start by adding your first develper below!</p>
          <br>
          <%= link_to 'Add', new_team_developer_path(@team), class: "button is-primary is-outlined" %>
        <% else %>
          <p class="has-text-centered">The team owner hasn't added any developers yet, check back later!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="columns">
  <div class="column is-half is-offset-one-quarter has-text-centered">
     <%= link_to 'Add', new_team_developer_path(@team), class: "button is-primary is-outlined is-large" %>
  </div>
</div>
<% end %>