<div class="container has-text-centered">
  <div class="box has-text-centered">
    <h1 class="title"><b><%= @team.name %></b>
      <% if owner? @team %>
        <%= link_to "Edit", edit_team_path(@team), class: 'button is-primary' %>
          <%= link_to @team, method: :delete, data: { confirm: "You sure?" }, class: 'delete-button' do %>
            <span class="icon"><i class="fa fa-trash"></i></span>
          <% end %>
        <% end %>
      </h1>
      <h4 class="subtitle">Please note that some people might not push all their work to Github, work in private repositories or on a feature branch.</h4>
      <hr>
      <%= form_tag team_path, :method => "get", id: "search-form", class: "searchbox" do %>
        <div class="field has-addons">
          <p class="control is-expanded">
            <%= text_field_tag :search, params[:search], placeholder: "Search by language, eg. Swift, Javascript, Python, Ruby", class: "input" %>
          </p>
          <p class="control">
            <%= submit_tag "Search", :name => nil, class: "button is-primary" %>
            <%= link_to "Reset Filters", @team, class: "button is-primary is-outlined" %>
          </p>
        </div>
      <% end %>
  </div>
</div>
<br>
<div class="columns is-multiline">
  <% @developers.each do |dev| %>
    <div class="column is-4">
      <%= link_to [@team, dev] do %>
        <div class="box is-fullwidth media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://avatars1.githubusercontent.com/u/<%= dev.github_user.user_id %>?v=3&s=128" class="github-avatar">
            </p>
            <div class="level-center">
              <div class="level-item">
              <% if dev.github_user.hireable %>
                <span class="tag is-outlined is-success hired-status">
                  Hireable
                </span>
              <% else %>
                <span class="tag is-outlined is-danger hired-status">
                 Hired
                </span>
              <% end %>
            </div>
          </div>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= dev.github_user.name ? dev.github_user.name : dev.github_user.login %></strong> <small>@<%= dev.github_user.login %></small>
              <br>
              <%= render 'github_users/contrib_graph', contribs: dev.github_user.contributions %>
                <br>
                <span>
              <% dev.github_user.prefered_languages.each do |lang| %>
                <span class="tag is-primary"><%= lang %></span>
              <% end %>
              </span>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
</div>
<% if @developers.count == 0 %>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box is-fullwidth">
        <div class="card-content has-text-centered">
          <% if params[:search] %>
            <h4 class="title">Nobody matches your criteria!</h4>
            <% elsif %>
              <h4 class="title">There is nothing here yet!</h4>
              <% if logged_in? %>
                <p>Start by adding your first develper below!</p>
                <br>
                <%= link_to 'Add', new_team_developer_path(@team), class: "button is-primary is-outlined" %>
                  <% else %>
                    <p class="has-text-centered">The team owner hasn't added any developers yet, check back later!</p>
                    <% end %>
                      <% end%>
        </div>
      </div>
    </div>
  </div>
  <% elsif owner?(@team) %>
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <%= link_to 'Add', new_team_developer_path(@team), class: "button is-primary is-outlined is-large" %>
      </div>
    </div>
    <% end %>
