<div class="column is-6">
  <div class="box is-fullwidth">
    <header class="level">
    <div class="level-left">
      <p class="">
        <span class="icon"><i class="fa fa-twitter"></i></span> @<%= @developer.username %>
      </p>
    </div>
    <div class="level-right">
    </div>
  </header>
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tweets</p>
        <p class="title"><%= @recent_tweets.first.user.tweets_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Following</p>
        <p class="title"><%= @recent_tweets.first.user.friends_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title"><%= @recent_tweets.first.user.followers_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title"><%= @recent_tweets.first.user.favourites_count %></p>
      </div>
    </div>
  </nav>
  <% @recent_tweets.each do |tweet| %>
    <%= render partial: 'datapanels/tweet', locals: { :t => tweet } %>
  <% end %>

  <div class="level">
      <div class="level-item has-text-centered">
        <a href="https://twitter.com/<%= @developer.username %>" target=_blank class="button is-primary is-outlined">Go to Twitter Profile</a>
      </div>
    </div>
  </div>
</div>
