<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="box is-fullwidth has-text-centered">
      <h1 class="title card-form-header">Edit <%= @developer.github_user.name %></h1>
      <div class="card-content">
        <%= form_for [@team, @developer] do |dev| %>
          <input name="_method" type="hidden" value="patch" />
          <p class="control">
            <%= dev.label :medium_username, "Medium Username", class: 'label' %>
            <%= dev.text_field :medium_username, placeholder: "Medium Username", class: 'input' %>
            <%= dev.label :twitter_username, "Twitter Username", class: 'label' %>
            <%= dev.text_field :twitter_username, placeholder: "Twitter Username", class: 'input' %>
            <%= dev.label :email, "Email Address", class: 'label' %>
            <%= dev.text_field :email, placeholder: "test@example.com", class: 'input' %>
            <%= dev.label :resume_link, "Instructor Recommendation", class: 'label' %>
            <%= dev.text_area :instructor_recommendation, placeholder: "X is awesome at...", class: 'input' %>
            <%= dev.label :resume_link, "Resume Link", class: 'label' %>
            <%= dev.text_field :resume_link, placeholder: "https://linktoresume.com", class: 'input' %>
          </p>
          <br>
          <p class="control"><%= dev.submit "Save Changes", class: "button is-primary is-outlined" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
