<h1 class="text-xs-center">Overview: <%= @developer.name %></h1>
<div class="row card">
<div class="card-content">
  <div class="col s4">
    Github Profile:
  </div>
  <div class="col s8">
    <a href="https://github.com/<%= @developer.username %>" target=_blank><%= @developer.username %></a>
  </div>
</div>
</div>
<div class="row">
  <%== @developer.git_graph_html %>
</div>
<a href="<%= team_url(@team) %>" class="btn btn-primary">Back</a>