<%= form_for(:session, url: login_path) do |u| %>
  <p class="control">
  <%= u.label :email, "Your email address", class: 'label' %>
  <%= u.email_field :email, class: 'input' %>
  </p>
  <p class="control">
  <%= u.label :password, "Your password", class: 'label' %>
  <%= u.password_field :password, class: 'input' %>
  </p>
  <p class="control">
  <%= u.submit "Login!", class: "button is-primary is-outlined" %> 
  <%= link_to "No Account? Register now!", signup_path, class: 'button is-link'%>
  </p>
<% end %>



