<h1 class="center">Login</h1>
<p class="center">Welcome Back!</p>
<%= form_for(:session, url: login_path) do |u| %>
  <%= u.label :email, "Your email address" %>
  <%= u.email_field :email %>

  <%= u.label :password, "Your password" %>
  <%= u.password_field :password %>

  <%= u.submit "Login!", class: "waves-effect waves-light btn" %> 
<% end %>
<p class="center">Don't have an Account yet? <%= link_to "Register now!", signup_path%></p>



