<div class="box datapanel github">
  <header class="level">
    <div class="level-left">
    <p class="logo">
      <span class="icon has-github-text"><i class="fa fa-github"></i></span> @<%= github_user.login %>
    </p>
    </div>
    <div class="level-right">
    <p class="">Last Updated: <%= github_user.updated_at %></p>
    </div>
  </header>
  <hr>
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Repos</p>
        <p class="title"><%= github_user.public_repos %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Gists</p>
        <p class="title"><%= github_user.public_gists %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Following</p>
        <p class="title"><%= github_user.following %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title"><%= github_user.followers %></p>
      </div>
    </div>
  </nav>
    <div class="box">
      <p class="title is-5"><strong>Personal:</strong></p>
      <p><strong>Lives In:</strong> <%= github_user.location ? github_user.location : 'N/A' %></p>
      <p><strong>Email:</strong> <a href="mailto:<%= github_user.email %>"><%= github_user.email ? github_user.email : 'N/A' %></a></p>
      <p><strong>Website:</strong> <a href="<%= github_user.blog %>" target="_blank"><%= github_user.blog ? github_user.blog : 'N/A' %></a></p>
      <p><strong>Currently Works At/As:</strong> <%= github_user.company ? github_user.company : 'N/A' %></p>
      <p><strong>Github Bio:</strong> <%= github_user.bio ? github_user.bio : 'N/A' %></p>
    </div>
    <div class="box">
      <p class="title is-5"><strong>Contribution Timeline:</strong></p>
      <%= render 'github_users/contrib_graph', contribs: github_user.contributions %>
    </div>
    <div class="level is-mobile">
      <div class="level-item has-text-centered">
        <a href="https://github.com/<%= @developer.username %>" target=_blank class="button is-primary is-outlined">Go to Github Profile</a>
      </div>
    </div>
  </div>
