<%= form_for @user do |u| %>
  <p class="control">
    <%= u.label :name, "Your Name:", class: 'label' %>
    <%= u.text_field :name, placeholder: "Full Name", class: 'input' %>
  </p>

  <p class="control">
    <%= u.label :email, "Your email address", class: 'label' %>
    <%= u.email_field :email, class: 'input' %>
  </p>
  <p class="control">
    <%= u.label :password, "Pick a strong Password", class: 'label' %>
    <%= u.password_field :password, class: 'input' %>
  </p>

  <p class="control">
    <%= u.label :password_confirmation, "Password Confirmation", class: 'label' %>
    <%= u.password_field :password_confirmation, class: 'input' %>
  </p>

  <p class="control">
    <%= u.submit "Register!", class: "button is-primary is-outlined" %> 
  </p>
<% end %>

