<aside class="column is-2 aside hero is-fullheight is-hidden-touch" id="sidenav">
  <div class="sidenav">
    <div class="title is-4 has-text-centered"><b>> git status_</b></div>
    <div class="menu">
      <% if logged_in? %>
        <p class="menu-label">Hey <%= current_user.name %></p>
        <ul class="menu-list">
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        </ul>
        <p class="menu-label">Your Teams</p>
        <ul class="menu-list">
          <% current_user.teams.each do |team| %>
            <li><%= link_to team.name, team, class: active?(team) %></li>
          <% end %>
          <li>
            <%= link_to new_team_path, class: active?(new_team_path) do %>
              <span class="icon"><i class="fa fa-plus"></i></span> Add a New Team
            <% end %>
          </li>
        </ul>
      <% else %>
        <p class="menu-label">Welcome back!</p>
          <ul class="menu-list">
          <li><%= link_to 'Login', login_path, class: active?(login_path) %></li>
        </ul>
        <p class="menu-label">New here?</p>
          <ul class="menu-list">
          <li><%= link_to 'Register', signup_path, class: active?(signup_path) %></li>
        </ul>
      <% end %>
      <p class="menu-label">Some Public Teams</p>
      <ul class="menu-list">
        <% Team.where(is_public: true).limit(10).each do |team| %>
          <li><%= link_to team.name, team, class: active?(team) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'footer' %>
</aside>
