<!DOCTYPE html>
<html>
  <head>
    <title>DevAudit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center" href="/">
          Dev Audit
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to "Overview", teams_path %></li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li>Hey there, <b><%= current_user.name %></b>!</li>
            <li><%= link_to "Logout", logout_path, method: :delete, class: "btn waves-effect wave-light" %></li>
          <% else %>
            <li><%= link_to "Login/Signup", login_path, class: "btn waves-effect wave-light" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="card teal white-text">
          <div class="card-content">
            <%= message %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2016 Luca Hagel
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>