<!DOCTYPE html>
<html>
  <head>
    <title>DevAudit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center" href="#">
          Dev Audit
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "Teams Overview", teams_path %></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Login/Signup", new_user_path %>></li>
        </ul>
      </div>
    </nav>
  </div>
  <main>>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2016 Luca Hagel
      </div>
    </div>
  </footer>
  </body>
</html>
