<!DOCTYPE html>
<html>
  <head>
    <title>DevAudit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <div class="columns">
    <%= render partial: 'shared/sidenav', locals: { user: current_user, public_teams: @public_teams } %>

    <main class="column is-10 is-offset-2">
      <div class="container" id="content-wrapper">
        <% flash.each do |message_type, message| %>
          <div class="notification is-info">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>