<!DOCTYPE html>
<html>
  <head>
    <title>DevAudit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left nav-menu">
          <% if logged_in? %>
          <span class="nav-item">
            <a><%= link_to "Overview", teams_path %></a>
            </span>
          <% end %>
      </div>
      <div class="nav-center">
        <a class="nav-item is-brand" href="/">
          Dev Audit
        </a>
      </div>
      <div class="nav-right">
      <span class="nav-item">
        <% if logged_in? %>
          Hey there, <b><%= current_user.name %></b>!
          <a><%= link_to "Logout", logout_path, method: :delete, class: "button is-primary" %></a>
        <% else %>
          <a><%= link_to "Login/Signup", login_path, class: "button is-primary" %></a>
        <% end %>
        </span>
      </div>
    </nav>
  <main>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="message">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <footer class="footer">
      <div class="container">
        © 2016 Luca Hagel | DevAudit <%= ENV["HEROKU_RELEASE_VERSION"]%>
      </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>